body{
	background-color: rgb(173, 131, 92)
}

nav{
	background-color: rgb(217, 179, 140)
}

.navbar-brand.cam-title {
	color: white;
}

.nav-item .nav-link.nav-menu-item{
	color: white
}

.title{
	color: white;
	text-shadow: 1px 2px black;
}